<div class="card">
  <div class="card-body text-center">
    <h1 class="mb-5">
      Lemoney Test
      <small>by Filipe Abreu</small>
    </h1>

    <p><%= link_to 'Offers list', offers_path, class: 'btn btn-success' %></p>
    <p><%= link_to 'Admin', admin_offers_path, class: 'btn btn-primary' %></p>
  </div>
</div>